*{
    margin: 0;
    padding:0;
}
nav {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    height: 70px;
    align-content: center;
    
}
.navbar-tile:hover {
    background: rgb(255, 242, 124)

}
a {
    color: inherit;
}



html {
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.background h1 {
    display: inline-block;
    position:absolute;
    left: 300px;
    color: rgb(220, 221, 144);
    font-size: 300px;
}
img{
    display:flex;
    flex-direction: row;
    height: 800px;
    justify-content: stretch;
    
}
header div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  
    background-repeat: no-repeat;
    margin-left: 175px;
}

nav div {
    width: 200px;
    border: black 3px solid;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    margin-top: 15px;
    padding-top: 10px;
    
}
.main-container {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

.main-container h1{
    font-size: 100px;
}
.header-menu{
    font-size: 70px;
}